@charset "utf-8";

body {
	margin:0;
	background-color: gold;
}

.mytable {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    font-weight: bold;
}

table td {
	height: 25px;
	border: 1px solid black;
}


